<!-- update.ejs -->

<form action="/person/update/<%= person.id %>" method="POST">
    <div class="field">
        <label for="name" class="label">Name</label>
        <div class="control">
            <input type="text" class="input" name="name" value="<%= person.name %>" required>
        </div>
    </div>

    <div class="field">
        <label for="age" class="label">Age</label>
        <div class="control">
            <input type="number" class="input" name="age" value="<%= person.age %>" required>
        </div>
    </div>

    <div class="field">
        <div class="control">
            <button class="button is-link" type="submit">Submit</button>
        </div>
    </div>
</form>